
* { box-sizing: border-box;
    overflow: auto;
}

body {background-color: #40407A;
    margin: 0;
}
#wrapper {
    background-color: #F5F5F5;
    padding: 2em;
}
body {font-family: Verdana, Arial, sans-serif
}

header {margin-left: auto;
    margin-right: auto;
    background-color: 100% 100%;
    color: #FFFFFF;
    background-image: url(ch6yoga/sunrise.jpg);
    background-size: cover;
    text-align: left;
    margin-top: 50px;
    font-size: 90%;
    min-height: 200px;

}
section {
    padding-right: .5em;
    padding-left: .5em;
}
body {color:#40407A;
}
nav {
    text-align: right;
    background-color: white;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}

nav a:link {
    color: #3F2860;
}
nav a:visited {
    color: #497777
}
nav a:hover {
    color: #BF92B2;
    transition: ease-out;
    transition-duration: 10;

}

nav ul {
    list-style-type: none;
    marker: none;
    margin: 0;
    padding-right: 2em;
    font-size: 1.2em;
}
nav li {
    display: inline;
    padding-left: 2em;
    font-size: 1.2em;
    width: 30%;
}

/*.onethird {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}
.onehalf {
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}
 */

#loungehero {
    height: 300px;
    width: 900px;
    background-image: url(ch6yoga/yogalounge.jpg);
    background-color: 100% 100%;
    padding-top: 6em;
    padding-left: 8em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.content {
    height: 250px;
    padding-top: 20vh;
    padding-left: 10%;
}
a {text-decoration: none;
}
h2{
    margin: 0;
}

.home {
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}
#mathero {
    height: 300px;
    width: 900px;
    background-image: url(ch6yoga/yogamat.jpg);
    background-color: 100% 100%;
    display: none;
    padding-top: 6em;
    padding-left: 8em;
    margin-left: auto;
    margin-right: auto;
}
#flow {
    display: block;
    column-width: fit-content;
    column-count: 3;
}
#flow2 {
    display: block;
    column-width: auto;
    column-count: 2;
}
@media (min-width: 600px){
    nav ul {
     flex: none;
     justify-content: flex-end;
 }
    nav li {
        width: 7em;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    #mathero {
        display: block;
        padding-bottom: 1em;
    }
    #loungehero{
        display: block;
        padding-bottom: 1em;
    }
    #flow{
        flex-direction: row;
    }
}
@media  (min-width: 1024px) {
    header {
        font-size: 120%;
    }

    nav {
        font-weight: bold;
    }
    .home   {
        height: 50vh;
        padding-top: 5em;
        padding-left: 8em;
    }
    .content {
        height: 30vh;
        padding-top: 2em;
        padding-left: 8em;
    }
    #wrapper {
        margin: auto;
        width: 80%;
    }
}
footer {
        text-align: center;
        font-style: italic;
        font-size: small;
        float: right, clear;
}
li {font-size: 90%
}

table {
    border: 1px solid #40407A;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
}
td {
    padding: 0.5em;
    border: 1px solid #40407A;
}
th {
    padding: 0.5em;
    border: 1px solid #40407A;
}
tr:nth-of-type(even){
    background-color: #D7E8E9;
}
caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}